.layout{
  width: 100%;
  height: 100%;
  background: url("../../style/image/home.jpg") no-repeat 100%;
  background-size: cover;
}
.header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 300px;
  background: none;
  .logo{
    min-width: 140px;
  }
}

.ant-menu.ant-menu-dark, .ant-menu-dark .ant-menu-sub, .ant-menu.ant-menu-dark .ant-menu-sub{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 32px;
  background: none;
}
img{
  width: 32px;
  height: 32px;
  margin-right: 8px;
}

.person{
  min-width: 100px;
}

.title{
  color: white;
}